.background {
  background-color: #282c34;
  min-height: 100vh;
  position: relative;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: chocolate;
}
.user-list {
  margin: 0;
  font-size: 24px;
  &-item {
    margin-bottom: 10px;
  }
}
.photo {
  width: 100%;
}
.logotype {
  display: flex;
  justify-content: center;
  img {
    width: calc(100% - 20px);
  }
}
.tillbaka {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
a {
  color: white;
  font-size: 24px;
}